* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__logo {
  width: 28%;
  padding: 5% 12%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 2.5rem;
  font-family: "Montserrat", sans-serif;
  background-color: rgb(249, 251, 255);
  z-index: 1;
}
.header__logo__h {
  color: #415167;
  font-weight: bold;
}
.header__logo__h span {
  background-color: #C7A17A;
  color: rgb(249, 251, 255);
}
.header__photo {
  width: 78vw;
  height: 100vh;
  background: url("../images/backg.png");
  background-size: cover;
  background-color: rgb(21, 29, 40);
}
.header__nav {
  background-color: #415167;
  width: 25%;
  padding: 5% 4%;
  font-family: "Nunito", sans-serif;
  font-weight: lighter;
  font-size: 1.2rem;
}
.header__nav__basket {
  margin-bottom: 10rem;
  position: relative;
}
.header__nav__basket::before {
  left: 4%;
  top: -0.9rem;
  content: "2";
  border-radius: 50%;
  position: absolute;
  display: block;
  width: 20px;
  font-size: 0.8rem;
  text-align: center;
  height: 20px;
  background-color: #C7A17A;
  color: #fff;
  z-index: 1;
}
.header__nav li {
  list-style-type: none;
  margin-bottom: 2rem;
}
.header__nav a {
  text-decoration: none;
  color: #EDF0F5;
}
.header__nav a:hover {
  text-decoration: underline;
  color: #EDF0F5;
}
.header__nav li:first-child {
  color: #fff;
  font-weight: bold;
}

.title {
  color: #415167;
  text-align: center;
  font-family: "Nunito", sans-serif;
}
.title p {
  font-size: 1.5rem;
}
.title h2 {
  font-size: 2.5rem;
  font-weight: bolder;
  font-family: "Montserrat", sans-serif;
}

section {
  background-color: rgb(249, 251, 255);
  padding: 5% 0;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Nunito", sans-serif;
  font-size: 1.2rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.cards__oneCard {
  text-align: center;
  padding: 2rem 1rem;
  width: 25%;
}
.cards__oneCard__icon {
  margin-bottom: 2rem;
}
.cards__oneCard__text {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: block;
  width: 100%;
}
.cards__oneCard__text h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.choose {
  background: -webkit-gradient(linear, left top, right top, from(#415167), color-stop(28%, #415167), color-stop(0%, rgb(249, 251, 255)), to(rgb(249, 251, 255)));
  background: linear-gradient(to right, #415167 0%, #415167 28%, rgb(249, 251, 255) 0%, rgb(249, 251, 255) 100%);
}
.choose .wrapper {
  max-width: 1400px;
  overflow: hidden;
}

.doubleCard {
  padding-top: 5%;
  font-family: "Nunito", sans-serif;
  font-size: 1.2rem;
}
.doubleCard .doubleCard__one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10% 0;
  -webkit-box-shadow: 1px 2px 7px #fff;
          box-shadow: 1px 2px 7px #fff;
  width: 100%;
}
.doubleCard .doubleCard__one__package {
  background-color: rgb(249, 251, 255);
  width: 37%;
  text-align: center;
}
.doubleCard .doubleCard__one__description {
  background-color: #fff;
  width: 63%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 10%;
}
.doubleCard .doubleCard__one__description .price {
  color: #C7A17A;
}
.doubleCard .doubleCard__one__description .buttons {
  margin-top: 1rem;
  font-size: 1rem;
}
.doubleCard .doubleCard__one__description .desc {
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-size: 1rem;
}
.doubleCard .doubleCard__one__description .bought {
  background-color: #C7A17A;
  color: #EDF0F5;
  padding: 0.5rem 1.5rem;
  border-radius: 20px;
  border: none;
  margin-right: 1rem;
}
.doubleCard .doubleCard__one__description .detail {
  color: rgb(65, 81, 103);
  text-decoration: none;
  font-weight: bold;
}

.choose {
  position: relative;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-navBtn {
  margin-top: 4%;
}

.swiper-button-next {
  overflow: hidden;
  width: 3.5rem;
  padding-left: 1.1rem;
  height: 3.5rem;
}

.giftset {
  background: -webkit-gradient(linear, left top, right top, from(#EDF0F5), color-stop(78%, #EDF0F5), color-stop(0%, rgb(249, 251, 255)), color-stop(28%, rgb(249, 251, 255)));
  background: linear-gradient(to right, #EDF0F5 0%, #EDF0F5 78%, rgb(249, 251, 255) 0%, rgb(249, 251, 255) 28%);
}
.giftset .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block {
  width: 62%;
  background-color: #fff;
  padding: 5% 8% 5% 20%;
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  margin-left: 20%;
  margin-top: 5%;
  position: relative;
  -webkit-box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
}
.block__pint {
  position: absolute;
  top: -1%;
  left: -15%;
}
.block__price {
  color: #C7A17A;
  font-size: 1.3rem;
  margin-bottom: 0.4rem;
  font-weight: 600;
}
.block .p {
  font-size: 1rem;
  margin: 0.4rem 0;
}
.block__icons {
  margin-top: 2rem;
}
.block__icons, .block__icons__beans, .block__icons__mount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.block__icons__beans, .block__icons__mount {
  font-size: 1rem;
  margin-right: 10rem;
}
.block__icons__beans p, .block__icons__mount p {
  font-weight: 600;
}
.block__buttons .buttons {
  margin-top: 1rem;
  font-size: 1rem;
}
.block__buttons .bought {
  background-color: #C7A17A;
  color: #fff;
  padding: 0.5rem 1.5rem;
  border-radius: 20px;
  border: none;
  margin-top: 3rem;
  margin-right: 13rem;
  font-family: "Nunito", sans-serif;
  font-size: 1.2rem;
}
.block__buttons .detail {
  color: rgb(65, 81, 103);
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
}
.block .numbers {
  position: absolute;
  right: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 10%;
  text-align: center;
  height: 100%;
  background-color: rgb(249, 251, 255);
}
.block .numbers .include {
  background-color: #fff;
  width: 100%;
  height: 35%;
  padding: 50% 0;
  border: 1px solid rgb(237, 240, 245);
  font-size: 2.1rem;
  color: #415167;
  font-weight: 900;
  font-family: "Montserrat", sans-serif;
}
.block .numbers .include:nth-last-child(-n+2) {
  opacity: 0.4;
  -webkit-box-shadow: inset 2px 5px 5px rgba(0, 0, 0, 0.4);
          box-shadow: inset 2px 5px 5px rgba(0, 0, 0, 0.4);
}
.block .numbers .include:nth-last-child(-n+2):hover {
  -webkit-box-shadow: inset 2px 5px 5px rgba(0, 0, 0, 0.7);
          box-shadow: inset 2px 5px 5px rgba(0, 0, 0, 0.7);
}
.block .numbers__down {
  display: none;
}

.combo {
  background: -webkit-gradient(linear, left top, right top, from(rgb(249, 251, 255)), color-stop(78%, rgb(249, 251, 255)), color-stop(0%, #415167), color-stop(28%, #415167));
  background: linear-gradient(to right, rgb(249, 251, 255) 0%, rgb(249, 251, 255) 78%, #415167 0%, #415167 28%);
}

.collection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-family: "Nunito", sans-serif;
  font-size: 1.2rem;
}

.singlCard {
  margin: 10% 0;
  -webkit-box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
  width: 30%;
  margin-right: 3rem;
}
.singlCard__package {
  background-color: #EDF0F5;
  text-align: center;
}
.singlCard__package img {
  width: 100%;
}
.singlCard__description {
  background-color: #fff;
  padding: 15% 10%;
}
.singlCard__description .price {
  color: #C7A17A;
  margin-bottom: 0.7rem;
}
.singlCard__description .price span {
  margin-left: 1rem;
  text-decoration: line-through;
  color: rgb(65, 81, 103);
}
.singlCard__description h3 {
  margin-bottom: 0.7rem;
}
.singlCard__description .buttons {
  margin-top: 1rem;
  font-size: 1rem;
}
.singlCard__description .desc {
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-size: 1rem;
}
.singlCard__description .bought {
  background-color: #C7A17A;
  color: #EDF0F5;
  padding: 0.5rem 1.5rem;
  border-radius: 20px;
  border: none;
  margin-right: 4rem;
  margin-bottom: 1rem;
}
.singlCard__description .detail {
  color: rgb(65, 81, 103);
  text-decoration: none;
  margin-top: 10%;
  font-weight: bold;
}

.pint {
  display: none;
}

@media screen and (max-width: 465px) {
  .giftset .numbers__down {
    height: 5%;
  }
  .cards .cards__oneCard {
    width: 100%;
  }
  section .title h2 {
    font-size: 1.3rem;
  }
  section .title p {
    font-size: 1.2rem;
  }
  .header__nav {
    width: 100%;
  }
}
@media screen and (max-width: 750px) {
  .header__nav {
    font-size: 1rem;
  }
  .combo .title {
    margin-right: 20%;
  }
  .block__icons {
    display: block;
  }
  .block__icons__beans {
    margin-bottom: 1rem;
  }
  .block h3 {
    font-size: 1.3rem;
  }
  .collection .singlCard {
    width: 70%;
  }
}
@media screen and (max-width: 850px) {
  .cards__oneCard {
    width: 50%;
  }
  .choose .title h2, .choose .title p {
    margin-left: 20%;
  }
  .block .numbers {
    display: none;
  }
  .block .numbers .include {
    display: none;
  }
  .block__pint {
    display: none;
  }
  .block .block__buttons {
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 1000px) {
  .header__logo__h {
    font-size: 1rem;
  }
  .collection {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .singlCard {
    width: 45%;
  }
  .title h2 {
    font-size: 1.8rem;
  }
  .choose .title {
    margin-left: 10%;
  }
  .numbers {
    display: none;
  }
  .block .block__pint {
    display: none;
  }
}
@media screen and (max-width: 1300px) {
  .doubleCard {
    padding-top: 5%;
    font-family: "Nunito", sans-serif;
    font-size: 1rem;
  }
  .doubleCard .doubleCard__one {
    margin: 20% 0;
  }
  .block {
    margin-top: -9%;
    width: 60%;
    padding: 5% 3% 5% 5%;
  }
  .block .block__pint {
    display: none;
  }
  .block .numbers {
    display: none;
  }
  .block .title h2 {
    font-size: 2rem;
  }
  .block .choose .title h2 {
    margin-left: 20%;
  }
  .block__icons__beans, .block__icons__mount {
    font-size: 1rem;
    margin-right: 1rem;
  }
  .block .bought {
    padding: 0.5rem 1.5rem;
    margin: 1.5rem 1rem 1.5rem 0rem;
  }
  .pint {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    margin: 0 auto;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .pint img {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 1;
  }
  .numbers__down {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: 0;
    bottom: 0;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    text-align: center;
    height: 12%;
    background-color: rgb(249, 251, 255);
  }
  .numbers__down .include__down {
    background-color: #fff;
    width: 100%;
    padding-bottom: 2%;
    border: 1px solid rgb(237, 240, 245);
    font-size: 1.8rem;
    color: #415167;
    font-weight: 900;
    font-family: "Montserrat", sans-serif;
  }
  .numbers__down .include__down:nth-last-child(-n+2) {
    opacity: 0.4;
    -webkit-box-shadow: inset 2px 5px 5px rgba(0, 0, 0, 0.4);
            box-shadow: inset 2px 5px 5px rgba(0, 0, 0, 0.4);
  }
  .numbers__down .include__down:nth-last-child(-n+2):hover {
    -webkit-box-shadow: inset 2px 5px 5px rgba(0, 0, 0, 0.7);
            box-shadow: inset 2px 5px 5px rgba(0, 0, 0, 0.7);
  }
}
@media screen and (max-width: 1450px) {
  .block .block__pint {
    left: -22%;
  }
}